<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Databasejsp</display-name>
  <context-param>
  <param-name>driver</param-name>
  <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
   <context-param>
   <param-name>url</param-name>
   <param-value>jdbc:mysql://remotemysql.com:3306/hBReXCo0Ve</param-value>
   </context-param>
   <context-param> 
   <param-name>username</param-name>
   <param-value> hBReXCo0Ve</param-value>
   </context-param>
     <context-param> 
   <param-name>password</param-name>
   <param-value>B9eHkDCCYT</param-value>
   </context-param>
  <servlet>
  <servlet-name>serv</servlet-name>
   <jsp-file>/Db.jsp</jsp-file>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>serv</servlet-name>
  <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Db.jsp</welcome-file>
  </welcome-file-list>
</web-app>